

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.studentprofile{

  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;

}
