#header{
  margin: 20px;
  text-align: center;
}

.adminMain {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.userRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  margin-bottom: 1em;
}

.userTable {
  background-color: whitesmoke;
  width: 95vw;
  margin-right: 1em;
  margin-left: 1em;
  height: 50vw;
  overflow-y: scroll;
}

.employerRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  margin-bottom: 1em;
}

.employerTable {
  background-color: whitesmoke;
  width: 95vw;
  margin-right: 1em;
  margin-left: 1em;
  height: 40vw;
  overflow-y: scroll;
}

.jobRow {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.jobTable {
  background-color: whitesmoke;
  width: 95vw;
  margin-right: 1em;
  margin-left: 1em;
}

table {
  width: 100%;
  max-height: 10vh;
}

#userHeader {
  margin: 25px;
}
