<mat-toolbar color='accent' class='footer' style="width: 100%;">
  <mat-toolbar-row>
  <span>© QuadSquad</span>
      <span class=“example-fill-remaining-space”></span>
      <span class=“align-center”></span>
      <span class=“example-spacer”></span>
      <div class="footer-right">
      <div class="socialIcons">
          <a href="https://www.facebook.com/ElevenFiftyAcademy/" target="_blank"><i class="fa fa-facebook-f"></i></a>
          <a href="https://twitter.com/elevenfifty" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/elevenfiftyacademy/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/school/eleven-fifty/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.youtube.com/user/ElevenFiftyAcademy" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
      <span class="address">12175 Visionary Way, Fishers, IN 46038  |  Ph: 855-925-1150</span>
    </div>

</mat-toolbar-row>
</mat-toolbar>
