span:focus {

  outline: 0;

}

button:focus {

    outline: 0;

}

span {
  font-size: .75em;
}



.mat-toolbar-row{

  display: flex;
  justify-content: space-between;
}

.socialIcons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

i {
  padding-right: 10px;

}

.mat-toolbar{
  padding-top: 10px;
}

a {
  text-decoration: none;
  outline: 0;
  color: white;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

}




