<h1>Employer Dashboard</h1>

<div class="wrapper">

  <!-- Left Grid -->
  <div class="one">

    <!-- Header -->
    <div class="job-header">
      <div class="current-job-listings">
        <h1>Current Job Listings</h1>
      </div>
      <div class="job-post-box">
        <button mat-raised-button (click)="openDialog()" class="job-post-button">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>

    <!-- Body -->
    <div class="job-display">
      <mat-action-list>
        <button mat-list-item class="job-li">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Job Title
              </mat-card-title>
              <mat-card-subtitle>
                Company Name
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </button>
        <button mat-list-item class="job-li">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Job Title
              </mat-card-title>
              <mat-card-subtitle>
                Company Name
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </button>
        <button mat-list-item class="job-li">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Job Title
              </mat-card-title>
              <mat-card-subtitle>
                Company Name
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </button>
      </mat-action-list>
    </div>
  </div>

  <!-- Vertical Line -->
<div class="vertical-line"></div>

  <!-- Right Grid -->
  <div class="two">

    <!-- Header -->
    <h1>Eleven Fifty Students</h1>

    <!-- Body -->
    <mat-action-list>
      <button mat-list-item class="student-li">
         <mat-card>
          <mat-card-header>
            <img mat-card-avatar>
            <mat-card-title>
              Student Name
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </button>
      <button mat-list-item class="student-li">
         <mat-card>
          <mat-card-header>
            <img mat-card-avatar>
            <mat-card-title>
              Student Name
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </button>
      <button mat-list-item class="student-li">
         <mat-card>
          <mat-card-header>
            <img mat-card-avatar>
            <mat-card-title>
              Student Name
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </button>
    </mat-action-list>
  </div>
</div>


