// Page
.wrapper {
  display: flex;
  background-color: white;
}

.header-main {
  text-align: center;
}

// .header-sub {

// }

.one {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;

}

.vertical-line {
  border-right: 2px solid #616161;
}

.two {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
}

// Jobs Q1

.job-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-post-button {
  background-color: #f95252;
  color:#616161;
  margin-left: 20%;
}

.job-post-button:hover {
  background: darken(#f95252, 20%);
}

.jobListing-card{
  margin: auto;
  width: 150%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: -25%;
  background-color: whitesmoke;
}
.example-header-image {
  background-image: url('../../../assets/code.jpg');
  background-size: cover;
}

.card-button update {
  background-color: #f95252;
  color:#616161;
}

.card-button delete {
  background-color: #f95252;
  color:#616161;
}

.card-button:hover {
  background: darken(#f95252, 20%);
}

// Students Q2

.student-table {
  width: 110%;
  margin-left: -5%;

}
