<h2 mat-dialog-title>Post a Job</h2>

<form class="example-form" [formGroup]="jobForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width" [style.width.%]=100>
    <input matInput placeholder="Job Title" name="job_title" formControlName="job_title">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" [style.width.%]=100>
    <input matInput placeholder="Company Name" name="company_name" formControlName="company_name">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" [style.width.%]=100>
    <input matInput placeholder="Position Summary" name="position_summary" formControlName="position_summary">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" [style.width.%]=100>
    <input matInput placeholder="Contact Email" name="contact_email" formControlName="contact_email">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" [style.width.%]=100>
    <input matInput placeholder="A Link to Company Job Application" name="where_to_apply" formControlName="where_to_apply">
  </mat-form-field>
  <br>
    <input type="file" (change)="onFileSelect($event)" name="companyImage">

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" mat-dialog-close>Post Job</button>
  </mat-dialog-actions>
</form>
