
<mat-grid-list cols="4" >
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="main-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Students</mat-card-title>
            </mat-card-header>
            <a routerLink="/student-dashboard"><img mat-card-image src="../../assets/studentsgroup.jpg" alt="photo of students"></a>
            <mat-card-content>
              <p>
                Looking for a job?
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="main-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Employers</mat-card-title>

            </mat-card-header>
            <a routerLink="/employer-dashboard"><img mat-card-image src="../../assets/workers.jpg" alt="photo of software workplace"></a>
            <mat-card-content>
              <p>
                Looking to hire an Eleven Fifty grad?
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
<!--
  <mat-grid-list cols="2" >
      <mat-grid-tile class="studentTile" routerLink="/student-dashboard"><img src="../../../assets/studentsgroup.jpg"></mat-grid-tile>
      <mat-grid-tile class="employerTile" routerLink="/employer-dashboard"><img src="../../../assets/workers.jpg"></mat-grid-tile>
      <mat-grid-tile class="studentTile" routerLink="/student-dashboard"><img src="../../../assets/studentsgroup.jpg"></mat-grid-tile>
      <mat-grid-tile class="employerTile" routerLink="/employer-dashboard"><img src="../../../assets/workers.jpg"></mat-grid-tile>
  </mat-grid-list> -->
