
<mat-grid-list cols="4" >
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Students & Grads</mat-card-title>

            </mat-card-header>
            <a routerLink="/student-dashboard"><img mat-card-image src="../../assets/students.jpg" alt="photo of students"></a>
            <mat-card-content>
              <p>
                Are you a student or recent graduate looking for a job?
              </p>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Employers</mat-card-title>

            </mat-card-header>
            <a routerLink="/employer-dashboard"><img mat-card-image src="../../assets/employers.jpg" alt="photo of software workplace"></a>
            <mat-card-content>
              <p>
                Are you an employer looking to hire Eleven Fifty graduates?
              </p>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
