<mat-card class="jobListing-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Junior Front End Developer</mat-card-title>
      <mat-card-subtitle>SilverTech, Inc</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <p>
          Our Front-End Engineers are original thinkers who transform creative concepts into working websites and interfaces using HTML, CSS, and JavaScript. Working hand in hand with other interactive departments, our developers are team players, skilled at matching strategic direction with appropriate results for Internet and Web-based marketing initiatives. Attention to detail, combined with a strong working knowledge of web technologies and browser limitations is essential.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Contact Job Poster</button>
      <button mat-button>Apply</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="jobListing-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Front End Developer</mat-card-title>
        <mat-card-subtitle>Heat Recruitment</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>
        <p>
            To join an outstanding software house in Central Bristol as part of the Full Stack Web Development team. Alongside leading developers working together to collaborate and enhance the business.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Contact Job Poster</button>
        <button mat-button>Apply</button>
      </mat-card-actions>
    </mat-card>



    <mat-card class="jobListing-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Frontend Developer</mat-card-title>
          <mat-card-subtitle>CFS Technology</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
          <p>
              As a Frontend Developer - ,You will play an integral part within our client’s Information Technology Department. This will involve assisting in a variety of IT functions, including working with end users on application development to meet their needs, and special projects.

          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="open()">Read Full Listing</button>
          <button mat-button>Apply</button>
        </mat-card-actions>
      </mat-card>




