.jobListing-card{
  margin: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}
.example-header-image {
  // background-image: url('../../../assets/code.jpg');
  background-size: cover;
}

