<div class="pastGrads">
<div class="header">
  <h1>Eleven Fifty Success Stories</h1>

<p>Are you an Eleven Fifty graduate now working in the tech field?
  <a href="mailto:email@elevenfifty.org">Let us know!</a>
  <br>
</p>
</div>

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/1150grads.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>JavaScript Cohort</h3>
        <p>July 2019</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/1150grads2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>JavaScript Cohort</h3>
        <p>August 2019</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/1150grads3.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Python Cohort</h3>
        <p>April 2019</p>
      </div>
    </ng-template>
  </ngb-carousel>



<br>
<br>
<table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="graddate">Graduation Date</th>
      <th mat-sort-header="studied">Studied</th>
      <th mat-sort-header="employer">Current Employer</th>
      <th mat-sort-header="role">Current Role</th>
    </tr>

    <tr *ngFor="let potato of sortedData">
      <td>{{potato.name}}</td>
      <td>{{potato.graddate}}</td>
      <td>{{potato.studied}}</td>
      <td>{{potato.employer}}</td>
      <td>{{potato.role}}</td>
    </tr>
  </table>
</div>


