<div class="about">
  <div class="about-text">
<h1>What Is Eleven Fifty Badge Brigade?</h1>
  <p>Eleven Fifty Badge Brigade is a way to connect Eleven Fifty students and grads with employers.<br>
    <br>
  Local employers looking for students with the in-demand JavaScript, Python, .NET and Cyber Security skills needed for today's information economy can find a listing of Eleven Fifty-educated students and graduates who are looking for jobs. We make it easy to connect. </p><br>
  Employer looking for skilled students? <a [routerLink]="['/employer-dashboard']">Post your job openings and check out our students.</a><br>
  Student looking for a job? <a [routerLink]="['/student-dashboard']">Check our local and international listings.</a>
</div>
</div>
