
<mat-toolbar color='primary'>
  <mat-toolbar-row class="mainToolbar">
  <span routerLink='/main'>Eleven Fifty Badge Brigade</span>
    <div class='menuButton'>
      <button mat-icon-button [matMenuTriggerFor]='menu'>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu='matMenu'>
        <button mat-menu-item routerLink='/about'>
          <mat-icon>details</mat-icon>
          <span>About Badge Brigade</span>
        </button>
        <button mat-menu-item routerLink='/contact'>
          <mat-icon>phone</mat-icon>
          <span>Contact</span>
        </button>
        <button mat-menu-item (click)='onClick()' routerLink='/login'>
          <mat-icon>close</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
