
<mat-toolbar color='primary'>
  <mat-toolbar-row class="mainToolbar">
  <span>Eleven Fifty Bridge Brigade</span>
    <div class='menuButton'>
      <button mat-icon-button [matMenuTriggerFor]='menu'>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu='matMenu'>
        <button mat-menu-item>
          <mat-icon>details</mat-icon>
          <span>About Badge Brigade</span>
        </button>
        <button mat-menu-item>
          <mat-icon>phone</mat-icon>
          <span>Contact</span>
        </button>
        <button mat-menu-item>
          <mat-icon>close</mat-icon>
          <span (click)='onClick()' routerLink='/login'>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
