<div class="jobSearchPage">
  <div class="jobSearchArea">
<h1>Github Job Search</h1>
&nbsp;
&nbsp;

<mat-form-field class="jobTitleSearch">
    <input matInput type="text" placeholder="Job Title" #description>
</mat-form-field>
&nbsp;
&nbsp;
<mat-form-field class="jobLocationSearch">
    <input matInput type="text" placeholder="Location"  #location>
</mat-form-field>
&nbsp;
&nbsp;
<button mat-raised-button color="primary" (click)="onSubmit(description.value, location.value)">Search</button>
</div>
<!-- Display Results -->
<mat-card class="github-results-card" *ngFor='let result of results'>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{result.name}}</mat-card-title>

    </mat-card-header>
    <img  [src]="result.company_logo" alt="company_logo" class='logo' >
    <br><br>
    <mat-card-content>

      <!-- <img [src]='results.company_logo' alt='company_logo'/> -->

      <h4><p>Job Title: {{result.title}}</p></h4>
      <p><b>Company: </b> {{result.company}}</p>
      <p><b>Location: </b> {{result.location}}</p>
      <p><b>Date Posted:</b> {{result.created_at}}</p>
      <div [innerHTML]='result.description'></div>
      <a [href]='result.url' target='_blank'>Github Job Posting</a>
    </mat-card-content>

  </mat-card>
</div>
