.logo{
  height:42px;
}

.mat-card {
  background-color: whitesmoke;
  margin: auto;
  width: 50%;
  margin-bottom: 2em;
}

* {
  margin: auto;

}

.jobSearchArea{

  margin: auto;
  width: 50%;
  margin-top: 3em;
  margin-bottom: 3em;
}
