<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <img src="../../../assets/logingroup.jpg">
    </div>
    <div class="col-sm-3">
<mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>SignUp</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" class='signupForm' [formGroup]="signupForm" #formDir="ngForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" formControlName='firstName' class='form-control' required>
              </mat-form-field>
              <div *ngIf='!firstName'>
                    First name is required.
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" [(ngModel)]="lastName" type="lastName" name="lastName" formControlName='lastName' class='form-control' required>
              </mat-form-field>
              <div *ngIf='!lastName'>
                    Last name is required.
              </div>
            </td>
          </tr>
          <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" [(ngModel)]="email" name="email" formControlName='email' class='form-control' required>
                </mat-form-field>
                <div *ngIf='email'>
                    <div *ngIf='validateEmail.errors'>
                      Email is required.
                    </div>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [(ngModel)]="password" name="password" formControlName='password' class='form-control' required>
                </mat-form-field>
                <div *ngIf='password'>
                    <div *ngIf='validatePassword.errors'>
                        Password must be at least 6 characters.
                    </div>
                </div>
              </td>
          </tr>
              <mat-form-field>
                  <mat-label>Role</mat-label>
                  <mat-select #select>
                    <mat-option *ngFor="let search of searches" [value]="search.value" required>
                      {{search.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

      </table>
      </form>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit(select.value)">Login</button>
      <p>Already a member? &nbsp;&nbsp; <a routerLink="/login" routerLinkActive="active">Login!</a></p>
    </mat-card-actions>
</mat-card>
</div>
